.main-interface {
    display: flex;
    width: 800px;
    
}

.header {
    
    display: flex;
    background-color: rgb(116, 223, 133);
    text-align: center;
    flex-direction: row;
    border-width: 0 0 4px 0;
    width: 100%;
    

}

.time {
   margin-left: 2.5%;
}

.level {
  margin-left: 5%;
}

.name {
    margin-right: auto;
    margin-left: 15%;
    font-size: 1.5rem;
}

body {
    margin: 0;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.body_game {
    width: 80%;
    height: 70%;
    margin: auto;
    display: flex;
    margin-top: 1%;
}


.field {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 1px;
    margin-left: 15%;
}

.square {
    
}

.start {
    width: 100px;
    height: 100px;
    margin-top: 50%;
    margin-left: 10%;
    margin-right: auto;
    border-radius: 1rem;
    float: left;
}
